{
  "extends": "./node_modules/core-commons/shared/eslint.json",
  "overrides": [
    {
      "files": ["bin/cli.js"],
      "rules": { "consistent-return": ["warn"], "node/shebang": "off" }
    }
  ],
  "rules": {
    "unicorn/numeric-separators-style": "off",
    "no-secrets/no-secrets": "warn"
  }
}
